<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
            />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"
        ></script>
        <title>Edit Data Dummy</title>
    </head>
    <body>
        <div class="container-fluid">
            <h3>Edit Dummy</h3>
            <hr/>
        </div>
        <div class="container">
            <form th:action="@{/perbarui/{id}(id=${data.id})}" class="form" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label">Id</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="id" name="id" th:value="${data.id}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="tanggal" class="col-sm-2 col-form-label">Tanggal</label>
                    <div class="col-sm-4">
                        <input type="date" class="form-control" id="tanggal" name="tanggal" th:value="${#dates.format(data.tanggal, 'yyyy-MM-dd')}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="gambar" class="col-sm-2 col-form-label">Gambar</label>
                    <div class="col-sm-4">
                        <input type="file" class="form-control" id="gambar" name="gambar">
                    </div>
                </div>
                <br>
                <div class="form-group row">
                    <label for="btnsubmit" class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-4">
                        <button type="cancel" class="btn btn-sm btn-danger" id="btnclose" name="btnclose"><i class="fa fa-close"></i>Kembali</button>
                        <button type="submit" class="btn btn-sm btn-success" id="btnsubmit" name="btnsubmit"><i class="fa fa-save"></i>Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>